*
{
  box-sizing: border-box;
}
body
{
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.5px;
}

*:focus
{
  outline: 2px solid #FF7500;
  outline-offset: 3px;
}

/* CONTAINER */

.container
{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE HEADER */

.site-header
{
  background-color: #fff;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;

}

.site-header-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link
{
  transition: opasity 0.4s ease;
}

.logo-link:hover
{
  opacity: 0.8;
}

.logo-link:active
{
  opacity: 0.6;
}

.logo-link img
{
   display: block;
}
.site-header-actions
{
  display: flex;
  align-items: center;
}


/* SITE NAV */

.sitenav-list
{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.sitenav-item
{
  margin-right: 32px;
}

.sitenav-item:last-child
{
  margin-right: 0;

}

.sitenav-link
{
   font-weight: 500;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: none;
   color: #000;
   font-family: sans-serif;
   transition: color  0.4s ease
   opacity 0.6s ease;

}

.sitenav-link:hover
{
  color: #FF7500;
}

.sitenav-link:active
{
  opacity: 0.6;
}


.main-link
{
   display: inline-block;
   padding: 12px 24px;
   border-radius: 4px;
   font-size: 13px;
   font-weight: bold;
   line-height: 13px;
   background-color: #FF7500;
   color: #fff;
   text-decoration: none;
   font-family: sans-serif;
   transition: opacity 0.4s ease;


}

.main-link:hover
{
  opacity: 0.8;
}

.main-link:active
{
  opacity: 0.6;
}

.akademnashr-logo
{
  width: 227px;
  height: 60px;
}

/* HERO */

.hero
{
   padding-top: 80px;
   padding-bottom: 80px;
   background-color: #252420;
   color: #fff;

}

.hero-container
{
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.hero-content
{
  width: 390px;
}
.orange-line
{
   width: 80px;
   height: 3px;
   border: none;
   background-color: #FF7500;
   margin: 0;
   margin-bottom: 40px;
}
.hero-heading
{
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-text
{
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img
{
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(251, 137, 37, 0.6);
}
.hero-text
{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.5px;
   font-family: sans-serif;
}

.features-list
{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* FEATURES */

.features
{
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-heading
{
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 72px;

}
.feature
{
  width: 340px;
  margin-right: 40px;
}

.feature:last-child
{
   margin-right: 0;
}
.feature-icon-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}
.feature-title
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 12px;
}
.feature-info
{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;

}

/* PROMO */

.promo
{
  padding-top: 120px;
  padding-bottom: 160px;


}

.promo-inner
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 64px;
  background-color: #252420;
  border-radius: 12px;
}

.promo-content
{
  width: 440px;
}
.promo-heading
{
   margin-top: 0;
   margin-bottom: 24px;
   font-size: 40px;
   line-height: 48px;
   font-family: 'Roboto Condensed', sans-serif;
}

.promo-info-wrapper
{
   margin-bottom: 24px;
}
.promo-text
{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child
{
  margin-bottom: 0;
}
strong
{
  color: #FF7500;

}

.promo-img
{
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}

.site-footer
{
  background-color: #f8f8f8 ;
  padding-top: 56px;
  padding-bottom: 56px;

}
.site-footer-top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-footer ul
{
  list-style: none;
  padding: 0;
}

.site-footer-socials
{
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
}

.site-footer-socials li
{
   margin-right: 16px;
}

.site-footer-socials li:last-child
{
  margin-right: 0;
}

.site-footer-socials a
{
   display: block;
   color: #252420;
}

.site-footer-socials a:active
{
   opacity: 0.6;
}

.site-footer-socials svg
{
   display: block;
}

.site-footer-divider
{
  height: 2px;
  background-color: #25242080;
  border: none;
  margin-top: 40px;
  margin-bottom: 64px;


}

.site-footer-bottom
{
  display: flex;
}


.site-footer-links
{
  width: 224px;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: 68px;
}

.site-footer-links:last-child
{
  margin-right: 0;
}

.site-footer-links li
{
   margin-bottom: 16px;
}

.site-footer-links li:last-child
{
  margin-bottom: 0;
}
.site-footer-links a
{
  text-decoration: none;
  color: #252420;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
  transition: color 0.4s ease;
}

.site-footer-links a:hover
{
   color: #FF7500;
}

.site-footer-links a:focus
{
  opacity: 0.6;
}