
body
{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.5px;
}

*:focus
{
  outline: 2px solid #FF7500;
  outline-offset: 3px;
}


/* SITE HEADER */

.site-header
{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #FF7500;
  padding-top: 16px;
  padding-bottom: 16px;

}

.logo-link
{
  transition: opasity 0.4s ease;
}

.logo-link:hover
{
  opacity: 0.8;
}

.logo-link:active
{
  opacity: 0.6;
}
.site-header-actions
{
  display: flex;
  align-items: center;
}


/* SITE NAV */

.sitenav-list
{
  list-style: none;
  display: flex;
  padding: 0;
}

.sitenav-link
{
   font-weight: 500;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: none;
   color: #000;
   font-family: sans-serif;
   transition: color  0.4s ease
   opacity 0.6s ease;

}

.sitenav-link:hover
{
  color: #FF7500;
}

.sitenav-link:active
{
  opacity: 0.6;
}


.main-link
{
   display: inline-block;
   padding: 12px 24px;
   border-radius: 4px;
   font-size: 13px;
   font-weight: bold;
   line-height: 13px;
   background-color: #FF7500;
   color: #fff;
   text-decoration: none;
   font-family: sans-serif;
   transition: opacity 0.4s ease;


}

.main-link:hover
{
  opacity: 0.8;
}

.main-link:active
{
  opacity: 0.6;
}

.akademnashr-logo
{
  width: 227px;
  height: 60px;
}

/* HERO */

.hero
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 80px;
   padding-bottom: 80px;
   background-color: #252420;
   color: #fff;

}


.hero-content
{
  width: 390px;
}
.orange-line
{
   width: 80px;
   height: 3px;
   border: none;
   background-color: #FF7500;
}
.hero-heading
{
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
}
.hero-img
{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}
.hero-text
{
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.5px;
   font-family: sans-serif;
}

.features-list
{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

/* FEATURES */

.features
{
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-heading
{
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;

}
.feature
{
  width: 340px;
}
.feature-icon-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}
.feature-title
{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.5px;
}
.feature-info
{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;

}

/* PROMO */

.promo
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
  border-radius: 12px;

}

.promo-content
{
  width: 440px;
}
.promo-heading
{
   font-size: 40px;
   line-height: 48px;
   font-family: 'Roboto Condensed', sans-serif;
}
.promo-text
{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
strong
{
  color: #FF7500;

}

.promo-img
{
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}

.site-footer
{
  background-color: #f8f8f8 ;
  padding-top: 56px;
  padding-bottom: 56px;

}
.site-footer-top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-footer ul
{
  list-style: none;
  padding: 0;
}

.site-footer-socials
{
   display: flex;
   align-items: center;
   padding: 0;
}


.site-footer-socials a:active
{
   opacity: 0.6;
}

.site-footer-divider
{
  height: 2px;
  background-color: #25242080;
  border: none;


}

.site-footer-bottom
{
  display: flex;
}


.site-footer-links
{
  width: 224px;
}
.site-footer-links a
{
  text-decoration: none;
  color: #252420;
  font-size: 16px;
  line-height: 19px;
  font-family: sans-serif;
  transition: color 0.4s ease;
}

.site-footer-links a:hover
{
   color: #FF7500;
}

.site-footer-links a:focus
{
  opacity: 0.6;
}